.document-extractor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.document-extractor-container > div {
  max-width: 600px;
  width: 100%;
}
